body{
    margin: 0px;
}

#head{
    background-color: black;
    color: azure;
}

#head a{
    text-decoration: none;
    font-size: 10vh;
    font-family: 'Courier New', Courier, monospace;
}

#head a:link, #head a:visited{
    color: azure;
}